.section {
    margin: 10px 0;
    background: white;
    box-shadow: 0 0 5px #c1c1c4;
}

.section__header {
    font-size: 25px;
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid #c1c1c4;
}

.section__body {
    padding: 20px;
}